.input:focus {
    outline: 1px solid gray;
}

.input {
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    min-width: 372px;
    height: 36px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
    border: 1px solid #cc1439;
}

.errorInput:focus {
    outline: #cc1439;
}

.error {
    color: #cc1439;
}
