.App {
    --header_height: 60px;
    padding: 0 70px 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Montserrat;
}

.hw {
}

.hwTitle {
    font-size: 22px;
    font-weight: 600;
    position: relative;
    margin-bottom: 35px;
}

.hwTitle::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    bottom: -10px;
    left: 0;
}

.hwWrapper {
    max-width: 1280px;
}

.hwMessageContainer {
}
