button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
}

.greetingForm {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.inputAndButtonContainer {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
    align-items: flex-start;
}

.error {
    color: #c00;
}

.input {
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    width: 372px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    transition: all 0.3s ease-out;
}

.input:focus {
    outline: 1px solid #0066cc;
}

.errorInput {
    border-radius: 5px;
    border: 1px solid #c00;
    width: 372px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    transition: all 0.3s ease-out;
}

.button {
    font-size: 14px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066cc;
    padding: 5px 24px;
    color: #ffffff;
    font-weight: 600;
    line-height: 26px;
    transition: all 0.3s ease-out;
}

.button:focus {
    transform: scaleX(1.1);
}

.button:active {
    transform: scaleX(1.1);
}

.button:disabled {
    opacity: 0.5;
}

.text {
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 9px;
}

.greeting {
    font-weight: 500;
}
