.burgerMenuIcon {
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
